div.recipe-container {
    display:flex;
    justify-content: center;
    div.sub-container {
        width: 90vw;
        mat-card {
            mat-card-content {
                h2 {
                    &:first-of-type {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}