@use '@angular/material' as mat;

header {
    position: sticky;
    top: 0;
    z-index: 3;

    mat-toolbar {
        position: sticky;
        span.home-label {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

main {
    height: calc(100vh - 64px);
}